nav { /*This is for the main menu (including all other styling with nav)*/
	width: 1140px;
	min-height: 60px;
	background-color: #31525B;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	border-radius: 25px;
	position: sticky; /*This makes the nav bar stay at the top of the screen when scrolling down.*/
	position: -webkit-sticky;/*This makes the function above possible*/
	top: 0px;
	box-shadow: 2.5px 5px #1d3238 ;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color:#31525B;
}

nav li {
	float: left;
}
  
nav a {
	display: block;
	padding: 5px;
	background-color: #31525B;
	width: 205px;
	text-align: center;
	text-decoration: none;
	border: 5px solid #31525B;
	border-radius: 25px;
	color: #F2EBE5;
	font-size: 18px;
}

nav a:hover { /*Highlights the button of the nav that the mouse is currently hovering over.*/
    background-color: #28434a;
}

.active { /*Makes current page in nav visible (so where the user is at)*/
	background-color: #1d3238; 
  	color: #F2EBE5;
}

aside { /*The aside styling is for the aside bar with relevant links*/
	width: 1140px;
	min-height: 140px;
	background-color: #31525B;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	border-radius: 25px;
} 

aside ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color:#31525B;
}

aside li {
	float: left;
}
  
aside a {
	display: block;
	padding: 5px;
	background-color: #31525B;
	width: 165px;
	text-align: center;
	text-decoration: none;
	border: 5px solid #31525B;
	border-radius: 25px;
	color: #F2EBE5;
}

aside a:hover { /*makes link/button change color when the hover is above it */
    background-color: #28434a;
}

