* {
	margin: 0px;
}

body {
	background-color: #B3DEE5;
	font-family: consolas, monaco, monospace;
	color: #F2EBE5;
}

#container {
	width: 1200px;
	height: auto;
	margin: auto;
	background-color: #B3DEE5;
}

hr {
	border: 2px solid black ;
}

header {
	background-color: #31525B ;	
	width: 1140px;
	height: 100px;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	border-radius: 25px;
	text-align: center; 
}

h1 {
	font-size: 70px;
}

article {
	float: left;
	background-color: #31525B;
	width: 860px;
	height: auto;
	padding: 15px;
	border: 10px solid #31525B ;
	margin: 5px;
	border-radius: 25px;
}

.column {
	float: left;
	width: 420px;
	height: auto;
	padding: 5px;
}

h2{
	font-weight: bold;
}

.hzlogo {
	height: 150px;
	width: 200;
	border-radius: 25px;
}

.pfp {
	width: 420px;
	height: auto;
	border-radius: 25px;
}

.blogposts{
	width: 1140px;
	height: auto;
	background-color: #31525B;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	border-radius: 25px;
}

details{
	width: 800px;
	height: auto;
	padding: 15px;
	border: 10px solid #28434a;
	background-color: #28434a;
	margin: 5px;
	border-radius: 25px;
	box-shadow: 2.5px 5px #1d3238 ;
}

details a {
	text-decoration: none;
	color: #a19c98;
}

details a:hover {
	color: #817d7a;
	text-decoration: underline;
}

table, tr, th, td {
	border-radius: 25px;
	border: 5px solid #28434a;
	padding: 5px;
	color: #F2EBE5;
	text-align: center;
}

table {
	background-color: #28434a;
}

tr {
	background-color: #31525B;
}

footer {
	clear: both;
	background-color: #31525B;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	height: 50px;
	width: 1140px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	text-align: center;
}