* {
	margin: 0px;
}

body {
	background-color: #B3DEE5;
	font-family: consolas, monaco, monospace;
	color: #F2EBE5;
}

#container {
	width: 1200px;
	height: auto;
	margin: auto;
	background-color: #B3DEE5;
}

hr {
	border: 2px solid black ;
}

header {
	background-color: #31525B ;	
	width: 1140px;
	height: 100px;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	border-radius: 25px;
	text-align: center; 
}

h1 {
	font-size: 70px;
}

main {
	background-color: #31525B;
	width: 1140px;
	height: auto;
	padding: 15px;
	border: 10px solid #31525B ;
	margin: 5px;
	border-radius: 25px;
}

.flex-container{
	display: flex;
}

.flex-child{
	flex: 1;
}

.flex-child:first-child{
	margin-right: 100px;
}

h2{
	font-weight: bold;
	font-size: 30px;
}

h3{
	font-size: 21px;
}

.hzlogo {
	height: 150px;
	width: 200px;
	border-radius: 25px;
}

p{
	font-size: 16px;
}

.pfp {
	width: 550px;
	height: auto;
	border-radius: 25px;
}

details{
	width: 1070px;
	height: auto;
	padding: 15px;
	border: 10px solid #28434a;
	background-color: #28434a;
	margin: 5px;
	border-radius: 25px;
	box-shadow: 2.5px 5px #1d3238 ;
}

details a, main a {
	text-decoration: none;
	color: #a19c98;
}

details a:hover {
	color: #817d7a;
	text-decoration: underline;
}

.dashboard-green{
	color: #95d400;
}

.dashboard-yellow{
	color: #ffdd00;
}

.dashboard-red{
	color: #CD5C5C;
}

table, tr, th, td {
	border-radius: 25px;
	border: 5px solid #28434a;
	padding: 5px;
	color: #F2EBE5;
	width: 1140px;
	height: auto;
}

table {
	background-color: #28434a;
}

tr {
	background-color: #31525B;
}

th {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

td {
	font-size: 16px;
}

.progress {
    width: 1140px;
}

.progress .bar {
    position: relative;
    background-color: #28434a;
	height: 60px;
	border-radius: 25px;
}
.progress .bar .percent {
    color: #F2EBE5;
    background-color: #CD5C5C;
    width: 50%;
	height: 60px;
	border-radius: 25px;
	text-align: center;
}
.progress .bar .ref {
    position: absolute;
    left: 75%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: black;
}

.progress .bar .ref:before {
    content: attr(data-ref);
    position: absolute;
    width: 100px;
    left: -50px;
    top: 100%;
    color: #F2EBE5;
    text-align: center;
}

footer {
	clear: both;
	background-color: #31525B;
	padding: 15px;
	margin: 5px;
	border: 10px solid #31525B;
	height: 50px;
	width: 1140px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 25px;
	text-align: center;
}